.restaurant__wrapper {
  width: 700px;
  margin: 0 auto;
}

.restaurant__container {
  border: 3px solid #E91E63;
  display: grid;
  grid-gap: 4%;
  justify-content: center;
  padding: 50px 5px;
  color: #673BB7;
  grid-template-columns: repeat(4, 20%);
}

.restaurant__table {
  border: 3px solid #D6C7EB;
  height: 130px;
  display: flex;
  font-weight: 500;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 96.5%;
  padding: 10px;
  margin-bottom: 5px;
  border: 3px solid #DFDFDF;
}

.btn {
  padding: 10px 20px;
  border: none;

}

.add {
  float: right;
  background: #E8E8E8;
}

.available {
  background: #FAF4FB;
}

.available__btn {
  background: #E2C1E8;
  width: 100%;
  color: #673BB7;
}

@media (max-width: 481px) {
  .restaurant__wrapper {
    width: 100%;
    padding: 10px;
  }

  .restaurant__container {
    grid-template-columns: repeat(2, 45%);
    padding-top: -25px;
    grid-gap: 2%;
  }

  .restaurant__table {
    height: 100px;
  }
  input {
    width: 92%;
  }
}
